<html ng-app="myApp">
  <head>
    <script type="text/javascript" src="https://code.angularjs.org/1.4.7/angular.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css"/>
  </head>

  <body>


    <div ng-controller="MyCtrl" ng-switch on="display">
   <div>
     <button ng-click="display=1;versus.defensor='';computeVersus();">Pokedex</button>
     <button ng-click="display=2;versus.defensor='';computeVersus();">Versus</button>
     <button ng-click="display=3;versus.defensor='';computeVersus();">Efficiency</button>
     <input type="checkbox" ng-model="showLegendary">Afficher les légendaires
     <input type="checkbox" ng-model="showGen2">Afficher la génération 2
   </div>
   <table ng-switch-when=1>
     <thead>
       <tr>
         <th style="cursor: auto;"></th>
         <th ng-click="orderBy('Id')">#</th>
         <th style="cursor: auto;"></th>
         <th ng-click="orderBy('localName')">Name</th>
         <th ng-click="orderBy('localType1')">Type</th>
         <th ng-click="orderBy('BaseAttack')">Attack</th>
         <th ng-click="orderBy('BaseDefense')">Defense</th>
         <th ng-click="orderBy('BaseStamina')">Stamina</th>
         <th ng-click="orderBy('sum')">Sum</th>
         <th ng-click="orderBy('prod')">Prod</th>
         <th>Quick moves</th>
         <th>Special moves</th>
       </tr>
     </thead>
     <tbody>
       <tr ng-repeat="pokemon in pokemons | myFilterPokemon: showLegendary: showGen2 | orderBy: filter: reverse " >
         <td>{{$index+1}}</td>
         <td>{{::pokemon.Id}}</td>
         <td><img ng-src="img/{{::pokemon.Id}}.png"></td>
         <td><div style="cursor: pointer;" ng-click="setDisplay(2);versus.pokeDefensor=pokemon;computeVersus();">{{::pokemon.localName}}</div><div><small>({{::pokemon.Name}})</small></div></td>
         <td><div>{{::pokemon.localType1}}</div><div ng-hide="pokemon.Type2=='None'">{{::pokemon.localType2}}</div></td>
         <td>{{::pokemon.BaseAttack}}</td>
         <td>{{::pokemon.BaseDefense}}</td>
         <td>{{::pokemon.BaseStamina}}</td>
         <td><div>{{::pokemon.sum}}</div><div>({{pourcent(pokemon.sum, 736) | number: 2}}%)</div></td>
         <td><div>{{::pokemon.prod}}</div><div>({{pourcent(pokemon.prod, 11552000) | number: 2}}%)</div></td>
         <td>
           <table>
             <tr>
               <th>Name</th>
               <th>Type</th>
               <th>Power</th>
               <th>Duration</th>
               <th>DPS</th>
             </tr>
             <tr ng-repeat="move in pokemon['Quick Moves']" ng-switch on="stab(pokemon, move)">
               <td>{{::move.localName}}<small>({{::move.displayName}})</small></td>
               <td>{{::move.localType}}</td>
               <td>{{::move.power}}</td>
               <td>{{::move.durationMS}}</td>
               <td ng-switch-when="true"><b>{{::move.dps*1.25 | number:2}}</b></td>
               <td ng-switch-when="false">{{::move.dps}}</td>
             </tr>
           </table>
         </td>
         <td>
           <table>
             <tr>
               <th>Name</th>
               <th>Type</th>
               <th>Power</th>
               <th>Duration</th>
               <th>DPS</th>
             </tr>
             <tr ng-repeat="move in pokemon['Charge/Special Moves']" ng-switch on="stab(pokemon, move)">
               <td>{{::move.localName}}<small>({{::move.displayName}})</small></td>
               <td>{{::move.localType}}</td>
               <td>{{::move.power}}</td>
               <td>{{::move.durationMS}}</td>
               <td ng-switch-when="true"><b>{{::move.dps*1.25 | number:2}}</b></td>
               <td ng-switch-when="false">{{::move.dps}}</td>
             </tr>
           </table>
           </td>
       </tr>
     </tbody>
   </table>

  <div ng-switch-when=2>
    Pokemon to fight:
    <select ng-options="pokemon as pokemon.localName for pokemon in pokemons track by pokemon.localName" ng-model="versus.pokeDefensor" ng-change="computeVersus()"></select>
    <div ng-if="versus.pokeDefensor!=null">
      <div>
        <table>
          <tr>
            <th>#</th>
            <th></th>
            <th>Name</th>
            <th>Type</th>
            <th>Attack</th>
            <th>Defense</th>
            <th>Stamina</th>
            <th>Sum</th>
            <th>Prod</th>
            <th>Quick moves</th>
            <th>Special moves</th>
          </tr>
          <tr>
            <td>{{versus.pokeDefensor.Id}}</td>
            <td><img ng-src="img/{{versus.pokeDefensor.Id}}.png"></td>
            <td><div>{{versus.pokeDefensor.localName}}</div><div><small>({{versus.pokeDefensor.Name}})</small></div></td>
            <td><div>{{versus.pokeDefensor.localType1}}</div><div ng-hide="versus.pokeDefensor.Type2=='None'">{{versus.pokeDefensor.localType2}}</div></td>
            <td>{{versus.pokeDefensor.BaseAttack}}</td>
            <td>{{versus.pokeDefensor.BaseDefense}}</td>
            <td>{{versus.pokeDefensor.BaseStamina}}</td>
            <td>{{versus.pokeDefensor.sum}}</td>
            <td>{{versus.pokeDefensor.prod}}</td>
            <td>
              <table>
                <tr>
                  <th></th>
                  <th>Name</th>
                  <th>Type</th>
                  <th>Power</th>
                  <th>Duration</th>
                  <th>DPS</th>
                </tr>
                <tr ng-repeat="move in versus.pokeDefensor['Quick Moves']" ng-switch on="stab(versus.pokeDefensor, move)">
                  <td><input type="checkbox" ng-model="move.selected"></td>
                  <td>{{::move.localName}}<small>({{::move.displayName}})</small></td>
                  <td>{{::move.localType}}</td>
                  <td>{{::move.power}}</td>
                  <td>{{::move.durationMS}}</td>
                  <td ng-switch-when="true"><b>{{::move.dps*1.25 | number:2}}</b></td>
                  <td ng-switch-when="false">{{::move.dps}}</td>
                </tr>
              </table>
            </td>
            <td>
              <table>
                <tr>
                  <th>Name</th>
                  <th>Type</th>
                  <th>Power</th>
                  <th>Duration</th>
                  <th>DPS</th>
                </tr>
                <tr ng-repeat="move in versus.pokeDefensor['Charge/Special Moves']" ng-switch on="stab(versus.pokeDefensor, move)">
                  <td>{{::move.localName}}<small>({{::move.displayName}})</small></td>
                  <td>{{::move.localType}}</td>
                  <td>{{::move.power}}</td>
                  <td>{{::move.durationMS}}</td>
                  <td ng-switch-when="true"><b>{{::move.dps*1.25 | number:2}}</b></td>
                  <td ng-switch-when="false">{{::move.dps}}</td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </div>
      Defender <input ng-model="lvl.D">
      Attacker <input ng-model="lvl.A">
      <button ng-click="computeVersus()">Compute</button>
      <div>
        <table>
          <thead>
            <tr>
              <th></th>
              <th>#</th>
              <th></th>
              <th>Name</th>
              <th>Type</th>
              <th>Attack</th>
              <th>Defense</th>
              <th>Stamina</th>
              <th>Move</th>
              <th>Damage</th>
              <th ng-click="order2By('dps')">DPS</th>
              <th>HLPS</th>
              <th>From {{versus.pokeDefensor.localName}}</th>
              <th ng-click="order2By('rated')">Rated</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="pokemon in versus.pokemons | orderBy: filter2: reverse2" ng-if="showLegendary || !pokemon.Legendary">
              <td>{{::$index+1}}</td>
              <td>{{::pokemon.Id}}</td>
              <td><img ng-src="img/{{pokemon.Id}}.png"></td>
              <td><div>{{::pokemon.localName}}</div><div><small>({{::pokemon.Name}})</small></div></td>
              <td><div>{{::pokemon.Type1}}</div><div ng-hide="pokemon.Type2=='None'">{{::pokemon.Type2}}</div></td>
              <td>{{::pokemon.BaseAttack}}</td>
              <td>{{::pokemon.BaseDefense}}</td>
              <td>{{::pokemon.BaseStamina}}</td>
              <td><div>{{::pokemon.moveLocalName}}</div><div><small>({{::pokemon.moveName}})</small></div></td>
              <td>{{::pokemon.damage}}</td>
              <td>{{::pokemon.dps | number:2}}</td>
              <td>{{::pokemon.healthLost | number:2}}%</td>
              <td>
                <table>
                  <tr>
                    <th>Name</th>
                    <th>DPS</th>
                    <th>HLPS</th>
                  </tr>
                  <tr ng-repeat="income in pokemon.income track by $index">
                    <td>{{::income.localName}}</td>
                    <td>{{::income.dps | number:2}}</td>
                    <td>{{::income.healthLost | number:2}}%</td>
                  </tr>
                </table>
              </td>
              <td>{{::pokemon.rated -1 | number:2}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div ng-switch-when=3>
    Efficiency
    <table>
      <tr>
        <th></th>
        <th ng-repeat="(type, values) in efficiencyTypes" ng-style="{'background-color': (selectedColumn[type]?'lightblue':'white')}">{{type}}</th>
      </tr>
      <tr ng-style="{'background-color': (selected?'lightblue':'white')}" ng-repeat="(type, values) in efficiencyTypes" ng-click="selected=!selected">
        <td>{{type}}</td>
        <th ng-repeat="(type2, values2) in efficiencyTypes" ng-click="toggleColumn(type)" style="background-color: {{(values[type2] && values[type2]<1)?'red':((values[type2] && values[type2]>1)?'green':(selectedColumn[type2]?'lightblue':'inherit'))}};"></th>
      </tr>
    </table>
  </div>
</div>


  </body>
</html>
